* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home-in {
    
    width: 100%;
    height: 100vh;
    display: flex;
}
.nav-container {
    
    width: 30%;
    height: 100vh;
    border: 2px solid black;

}
.main-container {
   
    width: 75%;
    height: 100vh;
}
.nav-header {
    border: 2px solid black;
    height: 8vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-one {
    height: 4.451vw;
    background-color: rgb(27,111, 245);
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
}
.nav-one a {
    text-decoration: none;
    color: white;

}
.nav-one a:hover {
    text-decoration: underline;
    color: black;
}
.footer-container {
    
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}